/*variables*/

/* width */
$main-width: 1200px;
$min-width: 980px;

/* bg */
$bg-color-main: #fff;
$bg-color-2: #312f2f;
$bg-color-3: #f3f3f3;

/* colors */
$color-main: #000;
$color-2: #fff;
$color-3: #a9a9a9;
$color-4: #847878;

/* border color */
$border-color-main: #ccc;



